
    <header class="intro-header" style="background-image: url('/img/worldmap.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h2>Welcome To LocationLock</h2>
                        <hr class="small">
                        <span class="subheading">Your Documents Are Below</span>
                    </div>
                </div>
            </div>
        </div>
    </header>



<% if @documents.length == 0 %> 
<h3> There are no documents </h3>
<% end %> 

<h3>My Nearby Documents</h3>

<% @my_nearby_documents.each do |document| %> 
<li><%= document.file_name %> <%= link_to "#{document.file_name}", "/documents/#{document.id}" %></li>
<% end %> 


<h3>Documents I've Created</h3>
<% @my_documents.each do |document| %> 
<li><%= document.file_name %> <%= link_to "#{document.file_name}", "/documents/#{document.id}" %></li>
<% end %> 

<h3>Add a Document</h3>

<%= form_tag('/documents', multipart: true, method: :post) do %>


    file name
    <%= text_field_tag :file_name %>
    <br>
    <br> 
    Image
    <br>
    <%= file_field_tag :doc %>
    <br>
    file text
    <br>
  <!--   < %= text_field_tag :file_text %> -->
    <%= text_area_tag(:file_text, nil,  
      :rows => 10, :cols => 50) %>  
    <br/>
    <br/>
    <%= collection_select(:location, :location_id, @locations, :id, :name) %>
    <br>
    <br>
    <%= submit_tag "Add new document", class: "btn btn-info" %>
    <br> 
    <br>
<% end %>

<%= form_tag '/locations/new', method: :get do %>
    
    <%= submit_tag "Add new location", class: "btn btn-info" %>
   
<% end %>

<!-- <p>Your coordinates.</p> -->

<p id="latitude"><%= current_user.current_latitude %></p>
<p id="longitude"><%= current_user.current_longitude %></p>

<div id="map"></div>


<script>

function getLongitude()){
    var longitude = document.getElementById('longitude').innerHTML;   
}
function getLatitude(){
    var latitude = document.getElementById('latitude').innerHTML;
}

function myMap() {
    console.log(lng);
    console.log(lat);
    var uluru = {lat: lat, lng: lng};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 16,
      center: uluru
    });
    var marker = new google.maps.Marker({
      position: uluru,
      map: map
    });
  }
  

myFirstPromise.then((successMessage)

    </script>



    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_aegqAfOFugLvCPr3bu_OIVW9W2hMeoE&callback=myMap">
    </script>


</body>










    