
<h3>Documents </h3>

<% if @documents.length == 0 %> 
<h3> There are no documents </h3>
<% end %> 

<h3>My Nearby Documents</h3>

<% @my_nearby_documents.each do |document| %> 
<li><%= document.file_name %> <%= link_to "#{document.file_name}", "/documents/#{document.id}" %></li>
<% end %> 


<h3>Documents I've Created</h3>
<% @my_documents.each do |document| %> 
<li><%= document.file_name %> <%= link_to "#{document.file_name}", "/documents/#{document.id}" %></li>
<% end %> 

<h3>Add a Document</h3>

<%= form_tag('/documents', multipart: true, method: :post) do %>


    file name
    <%= text_field_tag :file_name %>
    <br>
    <br> 
    Image
    <br>
    <%= file_field_tag :image %>
    <br>
    file text
    <br>
  <!--   < %= text_field_tag :file_text %> -->
    <%= text_area_tag(:file_text, nil,  
      :rows => 10, :cols => 50) %>  
    <br/>
    <br/>
    <%= collection_select(:location, :location_id, @locations, :id, :name) %>
    <br>
    <br>
    <%= submit_tag "Add new document", class: "btn btn-info" %>
    <br> 
<% end %>

<%= form_tag '/locations/new', method: :get do %>
    
    <%= submit_tag "Add new location", class: "btn btn-info" %>
   
<% end %>

<p>Your coordinates.</p>

<p id="demo"></p>

<script>

window.onload = getLocation();

var x = document.getElementById("demo");
function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}
function showPosition(position) {
    x.innerHTML = "Latitude: " + position.coords.latitude + 
    "<br>Longitude: " + position.coords.longitude; 
}
</script>



   
   





    