
    <header class="intro-header" style="background-image: url('/img/worldmap.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h2>Welcome To LocationLock</h2>
                        <hr class="small">
                        <span class="subheading">Your Documents Are Below</span>
                    </div>
                </div>
            </div>
        </div>
    </header>



<% if @documents.length == 0 %> 
<h3> There are no documents </h3>
<% end %> 

<h3>My Nearby Documents</h3>

<% @my_nearby_documents.each do |document| %> 
<li><%= document.file_name %> <%= link_to "#{document.file_name}", "/documents/#{document.id}" %></li>
<% end %> 


<h3>Documents I've Created</h3>
<% @my_documents.each do |document| %> 
<li><%= document.file_name %> <%= link_to "#{document.file_name}", "/documents/#{document.id}" %></li>
<% end %> 

<br>
<br>

<div id="map"></div>

<script>

function myMap() {

    var uluru = {lat: <%= current_user.current_longitude %>, lng: <%= current_user.current_latitude %> };
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 16,
      center: uluru
    });
    var marker = new google.maps.Marker({
      position: uluru,
      map: map
    });
  }
  
</script>


<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_aegqAfOFugLvCPr3bu_OIVW9W2hMeoE&callback=myMap">
</script>


</body>










    