<div class="document">
<div class="document-heading">
    <header class="intro-header" style="background-image: url('/img/worldmap.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                    <div class="black">
                        <h1 class="location-heading">Welcome To LocationLock</h1>
                        <h3 class="location-heading">Your Documents Are Below</span>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>
</div>

<div class="document">

<div class="space">
</div>


  <div class="left-col">
    <% if @documents.length == 0 %> 
    <h2> There are no documents </h2>
    <% end %> 
  </div>

  <div class="right-col"><h2>
  </div>

  <div class="clear-left"></div>



  <div class="left-col">
    <h2>My Nearby Documents</h2>
  </div>

  <div class="right-col">
    <% @my_nearby_documents.each do |document| %> 
    <h2><%= document.file_name %><%= link_to "#{document.file_name}", "/documents/#{document.id}" %></li></h2>
    <% end %> 
  </div>

  <div class="clear-left"></div>



  <div class="left-col">
    <h>Documents I've Created</h1>
  </div>

  <div class="right-col">
    <% @my_documents.each do |document| %> 
    <h2><%= document.file_name %> <%= link_to "#{document.file_name}", "/documents/#{document.id}" %></h2>
  <% end %> 

  <div class="clear-left"></div>


 


<div id="map"></div>




<div class="space">
</div>

</div>


<script>

function myMap() {

    var uluru = {lat: <%= current_user.current_longitude %>, lng: <%= current_user.current_latitude %> };
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 16,
      center: uluru
    });
    var marker = new google.maps.Marker({
      position: uluru,
      map: map
    });
  }
  
</script>


<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_aegqAfOFugLvCPr3bu_OIVW9W2hMeoE&callback=myMap">
</script>


</body>










    