
    <header class="intro-header" style="background-image: url('/img/worldmap.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h2>Welcome To LocationLock</h2>
                        <hr class="small">
                        <span class="subheading">Your Documents Are Below</span>
                    </div>
                </div>
            </div>
        </div>
    </header>



<% if @documents.length == 0 %> 
<h3> There are no documents </h3>
<% end %> 

<h3>My Nearby Documents</h3>

<% @my_nearby_documents.each do |document| %> 
<li><%= document.file_name %> <%= link_to "#{document.file_name}", "/documents/#{document.id}" %></li>
<% end %> 


<h3>Documents I've Created</h3>
<% @my_documents.each do |document| %> 
<li><%= document.file_name %> <%= link_to "#{document.file_name}", "/documents/#{document.id}" %></li>
<% end %> 

<h3>Add a Document</h3>

<%= form_tag('/documents', multipart: true, method: :post) do %>


    file name
    <%= text_field_tag :file_name %>
    <br>
    <br> 
    Image
    <br>
    <%= file_field_tag :doc %>
    <br>
    file text
    <br>
  <!--   < %= text_field_tag :file_text %> -->
    <%= text_area_tag(:file_text, nil,  
      :rows => 10, :cols => 50) %>  
    <br/>
    <br/>
    <%= collection_select(:location, :location_id, @locations, :id, :name) %>
    <br>
    <br>
    <%= submit_tag "Add new document", class: "btn btn-info" %>
    <br> 
    <br>
<% end %>

<%= form_tag '/locations/new', method: :get do %>
    
    <%= submit_tag "Add new location", class: "btn btn-info" %>
   
<% end %>

<!-- <p>Your coordinates.</p> -->

<p id="latitude"><%= current_user.current_latitude %></p>
<p id="longitude"><%= current_user.current_longitude %></p>

<script>

window.onload = getLocation();


var x = document.getElementById("demo");
function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}
function showPosition(position) {
    x.innerHTML = position.coords.latitude + 
    ", " + position.coords.longitude; 
}
</script>

<body>

<div id="googleMap" style="width:50%;height:300px;"></div>

<script>
    // function myMap() {
    //     var longitude = document.getElementById('longitude').innerHTML;
    //     var latitude = document.getElementById('latitude').innerHTML;
    //     var mapProp= {
    //     center:new google.maps.LatLng(longitude, latitude),
    //     zoom:16,
    //     };
    
    // var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
    // }
function myMap() {
  var longitude = document.getElementById('longitude').innerHTML;
  var latitude = document.getElementById('latitude').innerHTML;
  var myCenter = new google.maps.LatLng(longitude, latitude);
  var mapCanvas = document.getElementById("map");
  var mapOptions = {center: myCenter, zoom: 15};
  var map = new google.maps.Map(mapCanvas, mapOptions);
  var marker = new google.maps.Marker({position:myCenter});
  marker.setMap(map);
}  
</script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_aegqAfOFugLvCPr3bu_OIVW9W2hMeoE&callback=myMap"></script>

</body>




   
   





    