    <!-- Navigation -->
    
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->

<div class="document">
<div class="document-heading">
<header class="intro-header" style="background-image: url('/img/documents-new.jpg')">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <div class="black">
                    <h1 class="location-heading">Add A Document</h1>
                    <h3 class="location-heading">Upload a document using the form below.</h3>
                    <span class="subheading"></span>
                    </div>
                </div>
            </div>
        </div>
</header>
</div>
</div>

<div class="document">


<div class="space">
</div>

            <div class="left-col">
                <h2>Document Name</h2>
            </div>
            
            <div class="right-col">
                <h2><%= form_tag('/documents', multipart: true, method: :post) do %>
                <%= text_field_tag :file_name %></h2>
            </div>

            <div class="clear-left"></div>


            <div class="left-col">
                <h2>File  (ex: jpg, pdf, gif, png)</h2>
            </div>
            
            <div class="right-col">
                <h2><%= file_field_tag :doc %></h2>
            </div>
            
            <div class="clear-left"></div>

            <div class="left-col">
                <h2>Text (optional)</h2>
            </div>

            <div class="right-col">
                <%= text_area_tag(:file_text, nil, :rows => 5, :cols => 40) %>
            </div>

            <div class="clear-left"></div>

            <div class="left-col">
                <h2>Add a Location</h2>
            </div>

            <div class="right-col">
            <%= collection_select(:location, :location_id, @locations, :id, :name) %>
            </div>

            <div class="clear-left"></div>

            <div class="left-col">
            </div>

            <div class="right-col">
            <%= submit_tag "Add new document", class: "btn btn-info submit" %> 
            </div>

            <div class="clear-left"></div>
   

            <% end %>
<div class="space">
</div>
</div>



    