<h3> Add a document </h3>

<% @documents.each do |document| %> 

    <div>
        <h4><%= link_to "#{document.file_name}", "/documents/#{document.id}" %></h4>
    </div>
    <div>
        <h5><%= document.file_text %></h5>
        <h5><%= document.location.name %></h5>
        <h5><%= document.location.latitude %></h5>
        <h5><%= document.location.longitude %></h5>

    </div>
<% end %>

<% if @documents.length == 0 %> 
<p> You have no documents </p>
<% end %> 


<%= form_tag('/documents', multipart: true, method: :post) do %>

    file_name
    <%= text_field_tag :file_name %>
    <br>
    
    image
    <%= file_field_tag :image %>
    <br>
    
    file_text
    <%= text_area_tag(:file_text, nil,  
      :rows => 10, :cols => 50) %>  

    <%= collection_select(:location, :location_id, @locations, :id, :name) %> 
    <%= submit_tag "Add new document", class: "btn btn-info" %>
   
<% end %>

<%= form_tag '/locations/new', method: :get do %>
    
    <%= submit_tag "Add new location", class: "btn btn-info" %>
   
<% end %>


   
   





    