<div class="document">
<div class="document-heading">
    <header class="intro-header" style="background-image: url('/img/worldmap.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                    <div class="black">
                        <h1 class="location-heading">Welcome To LocationLock</h1>
                        <h3 class="location-heading">Your Documents Are Below</span>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>
</div>

<div class="document">

    <div class="space">
    </div>

    <div class="left-col">
    <h2>File Type: <%= @document.doc_content_type %></h2>
    </div>
    <div class="right-col">
        <% if @document.doc_content_type == "application/pdf" %>
            Link to File: <%= link_to @document.file_name, @document.doc.url, target: "_blank" %>
        <% else %>
            <%= link_to image_tag(@document.doc.url), @document.doc.url %>
        <% end %>
    </div>
    <div class="clear-left"></div>




    <% if @document.location.distance_to(@current_user.current_location) < 5 %>
        <div class="left-col">
            <h2> Distance to document </h2>
        </div>

        <div class="right-col">
            <h2><%= @document.location.distance_to(@current_user.current_location).to_i %> miles</h2>
        </div>
        <div class="clear-left"></div>


        <div class="left-col">
            <h2>Document name:</h2>
        </div>
        <div class="right-col">
            <h2><%= @document.file_name %></h2>
        </div>
        <div class="clear-left"></div>


        <div class="left-col">
            <h2>Document text:</h2>
        </div>
        <div class="right-col">
            <h3><%= @document.file_text %></h3>
        </div>
        <div class="clear-left"></div>

                                    <% else %>

                                        <div class="left-col">
                                         <h2> Distance to document </h2>
                                        </div>
                                        <div class="right-col">
                                            <h2><%= @document.location.distance_to(@current_user.current_location).to_i %> miles</h2>
                                        </div>
                                        <div class="clear-left"></div>


                                    <% end %> 
    <div class="left-col">
    </div>
    <div class="right-col">
        <h2><%= link_to "Edit Document", "/documents/#{@document.id}/edit", class: "btn btn-info submit" %></h2>
    </div>
    <div class="clear-left"></div>
    <div class="left-col">
        <h3>You are not within proximity to this document</h3>
    </div>
    <div class="right-col">
        <h3><%= link_to "Destroy Document", "/documents/#{@document.id}", method: :delete, class: "btn btn-info submit" %></h3></div>
        <!-- <h3>You are not within proximity to this document</h3> -->
    <div class="clear-left">
    </div>


    <div class="left-col">
        <h3>Add User</h3>
    </div>
    
    <div class="right-col"><h3>
        <%= form_tag "/user_documents/new", method: :post do %> 
        <%#= label_tag :email, "Email" %> 
        <%= hidden_field_tag :document, @document.id %>
        <%= text_field_tag :email, "email" %>
        <%= submit_tag "Add User", class: "btn btn-info submit" %> 
        <% end %>
        </h3>
    </div>
     
    <div class="clear-left">
    </div>

    <div class="left-col">    
        <h3>Users assigned </h3>
    </div>

    <div class="right-col">
        <ul><% @document.users.each do |user| %> 
        <li><h3><%= user.email %></h3></li>
             <% end %>  
        </ul>
    </div>
      <div class="clear-left">
    </div>








<div id="map"></div>
<div class="space"></div>
</div>

<script>

function myMap() {

    var uluru = {lat: <%= current_user.current_longitude %>, lng: <%= current_user.current_latitude %> };
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 16,
      center: uluru
    });
    var marker = new google.maps.Marker({
      position: uluru,
      map: map
    });
  }
  
</script>


<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_aegqAfOFugLvCPr3bu_OIVW9W2hMeoE&callback=myMap">
</script>




<div class="space"></div>


