<h3>Document name: <%= @document.file_name %></h3>

<h4>Document text: <%= @document.file_text %></h4>

<h4>Document location: <%= @document.location.name %></h4>

<h4>Document latitude: <%= @document.location.latitude %></h4>

<h4>Document longitude: <%= @document.location.longitude %></h4>

<h4> Users assigned </h4>
<ul>    <% @document.location.users.each do |user| %> 
<li>  <%= user.email %> </li>
    <% end %>  
</ul>




<h4><%= link_to "Edit", "/documents/#{@document.id}/edit" %>

<h4><%= link_to "Destroy", "/documents/#{@document.id}", method: :delete %>



