<p><%= link_to image_tag(@document.image.url(:medium)), @document.image.url %>
</p>


<h3> Distance to document </h3>

<!-- < % = @document.location.distance_to(@current_user.current_location).to_i % > miles -->

<% if @document.location.distance_to(@current_user.current_location) < 1 %>

<h3>Document name: <%= @document.file_name %></h3>

<h4>Document text: <%= @document.file_text %></h4>

<h4><%= link_to "Edit Document", "/documents/#{@document.id}/edit", class: "btn btn-info" %>

<h4><%= link_to "Destroy Document", "/documents/#{@document.id}", method: :delete, class: "btn btn-info" %>

<h3>Add Document</h3>
<%= form_tag '/documents', method: :post do %>
    file_name
    <br/>
    <br/>
    <%= text_field_tag :file_name %>
    <br/>
    <br/>
    file_text
    <br/>
    <br/>
  <!--   < %= text_field_tag :file_text %> -->
    <%= text_area_tag(:file_text, nil,  
      :rows => 10, :cols => 50) %>  
    <br/>
    <br/>
    <%= collection_select(:location, :location_id, @locations, :id, :name) %> 
    <br/>
    <br/>
    <%= submit_tag "Add new document", class: "btn btn-info" %>



<h3>Add User</h3> <%= link_to "Add User", "/locations/users/#{@document.location.id}", class: "btn btn-info" %>

<h3> Users assigned </h3>
<ul>    <% @document.location.users.each do |user| %> 
<li>  <%= user.email %> </li>
    <% end %>  
</ul>

<% end %>

<h3>Current Location </h3>

<h4>Document location: <%= @document.location.name %></h4>

<h4>Document latitude: <%= @document.location.latitude %></h4>

<h4>Document longitude: <%= @document.location.longitude %></h4>

<%= form_tag '/locations/new', method: :get do %>
    
    <%= submit_tag "Add new location", class: "btn btn-info" %>
   
<% end %>


<% else %> 

You are not within proximity to this document

<% end %> 





