
<div class="document">
<div class="document-heading">
  <header class="intro-header" style="background-image: url('/img/map.jpg')">
        <!-- <div id="location-heading"> -->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                    <div class="black">
                        <h1 class="location-heading">Add A New Location</h1>
                        <h3 class="location-heading">Add A New Location Below</h3>
                    </div>
                    </div>
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </header>
</div>
</div>

<div class="document">
<% if current_user %>
     <%= link_to "Home", "/documents" %> 
     <% @user = User.find(current_user.id) %>
     <%= @user.current_location %> 
     
     <%= link_to "update current location", "/users/#{current_user.id}/edit" %>
      <h5> Current user email </h5> 
     <%= @user.email %> 
     
<% end %>

<%= form_tag '/locations', method: :post do %>
    Location name
    <%= text_field_tag :name %>
    Address
    <%= text_field_tag :address %>
    <%= submit_tag "Add new location", class: "btn btn-info" %>   
<% end %>  

<div id="map"></div>

<script>

function myMap() {

    var uluru = {lat: <%= current_user.current_longitude %>, lng: <%= current_user.current_latitude %> };
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 16,
      center: uluru
    });
    var marker = new google.maps.Marker({
      position: uluru,
      map: map
    });
  }
  
</script>


<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_aegqAfOFugLvCPr3bu_OIVW9W2hMeoE&callback=myMap">
</script>
</div> 
