
<div class="document">
<div class="document-heading">
  <header class="intro-header" style="background-image: url('/img/map.jpg')">
        <!-- <div id="location-heading"> -->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                    <div class="black">
                        <h1 class="location-heading">Add A New Location</h1>
                        <h3 class="location-heading">Add A New Location Below</h3>
                    </div>
                    </div>
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </header>
</div>
</div>



<div class="document">

<div class="space">
</div>

<div class="form-container">
      
        <div class="left-col">
             <h2><% @user = User.find(current_user.id) if current_user %>
             <%= @user.current_location if current_user %></h2>
        </div>

        <div class="right-col"><h2>
            <%= link_to "update current location", "/users/#{current_user.id}/edit", class: "location-link" %></h2>
        </div>

        <div class="clear-left"></div>

        <div class="left-col">
            <h2>Current user email</h2>
        </div>

        <div class="right-col">
            <h2><%= @user.email if current_user %></h2>
        </div>

        <div class="clear-left"></div>

        <div class="left-col">
            <h2>Location name</h2>
            <h2>Address</h2>
        </div>

        <div class="right-col">
            <%= form_tag '/locations', method: :post do %>
            <h2><%= text_field_tag :name %></h2>
            <h2><%= text_field_tag :address %></h2>
            <h2><%= submit_tag "Add new location", class: "btn btn-info submit" %></h2>
          <% end %>
        </div>
        <div class="clear-left"></div> 
   
</div> 


<div id="map"></div>


<div class="space">
</div>

<script>

function myMap() {

    var uluru = {lat: <%= current_user.current_longitude %>, lng: <%= current_user.current_latitude %> };
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 16,
      center: uluru
    });
    var marker = new google.maps.Marker({
      position: uluru,
      map: map
    });
  }
  
</script>


<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_aegqAfOFugLvCPr3bu_OIVW9W2hMeoE&callback=myMap">
</script>
</div> 

</div>

