
<div class="document">
<div class="document-heading">
  <header class="intro-header" style="background-image: url('/img/map.jpg')">
        <!-- <div id="location-heading"> -->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                    <div class="black">
                        <h1 class="location-heading">Add A New Location</h1>
                        <h3 class="location-heading">Add A New Location Below</h3>
                    </div>
                    </div>
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </header>
</div>
</div>


<div class="document">

<div class="space">
</div>

<table class="doc-new">


  <tr>
      <% if current_user %>
    <%#= link_to "Home", "/documents" %>
      <% @user = User.find(current_user.id) %>
    <td><h3><%= @user.current_location %></h3></td>
    <td><h2><%= link_to "update current location", "/users/#{current_user.id}/edit", class: "location-link" %></h2></td>
  </tr>
  <tr>
    <td><h2> Current user email </h2></td>
    <td><h2><%= @user.email %></h2></td>
<% end %>
  </tr> 

<%= form_tag '/locations', method: :post do %>

  <tr>
    <td><h2> Location name</h2></td>
    <td>   <%= text_field_tag :name %></td>
  </tr>
  <tr>
    <td><h2> Address </h2></td>
    <td>   <%= text_field_tag :address %></td>
  </tr>
  <tr>
    <td></td>
    <td>  <%= submit_tag "Add new location", class: "btn btn-info submit" %></td>
</tr>
<% end %>  

  <tr>
    <td colspan="2"><div id="map"></div></td>
  </tr>

</table>

<div class="space">
</div>

<script>

function myMap() {

    var uluru = {lat: <%= current_user.current_longitude %>, lng: <%= current_user.current_latitude %> };
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 16,
      center: uluru
    });
    var marker = new google.maps.Marker({
      position: uluru,
      map: map
    });
  }
  
</script>


<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_aegqAfOFugLvCPr3bu_OIVW9W2hMeoE&callback=myMap">
</script>
</div> 

</div>

