

  <header class="intro-header" style="background-image: url('/img/map.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h2>Add A New Location</h2>
                        <hr class="small">
                        <span class="subheading">Add A New Location Below</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

<% if current_user %>
     <%= link_to "Home", "/documents" %> 
     - 
     <% @user = User.find(current_user.id) %>
     <%= @user.current_location %> 
     - 
     <%= link_to "update current location", "/users/#{current_user.id}/edit" %>
      <br> 
      <h5> Current user email </h5>
     <%= @user.email %> 
<% end %>


<%= form_tag '/locations', method: :post do %>
    Location name
    <%= text_field_tag :name %>
    <br>
    <br>
    Address`
    <%= text_field_tag :address %>
    <br>
    <br>
    <%= submit_tag "Add new location", class: "btn btn-info" %>   
<% end %>  