<!DOCTYPE html>
<html lang="en">

<head>


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>LocationLock</title>

    <!-- Bootstrap Core CSS -->
    <!--link href="/vendor/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet"-->

    <!-- Theme CSS -->
    <link href="/css/clean-blog.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <!--link href="/vendor/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"-->
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>



    <title>Capstone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>



<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                
            <% if current_user %>
                <a class="navbar-brand" href="/logout">Logout</a>
            <% else %> 
                <a class="navbar-brand" href="/signup">Signup</a>
                <a class="navbar-brand" href="/login">Login</a>
            <% end %> 

        </div> 
            
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#"><% if current_user %><%= current_user.email %>
                                <% else %>
                                 There Is No Current User Logged In 
                                 <% end %>
                        </a>
                    </li>
                    <li>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </li>
                    <% if current_user %> 
                    <li>
                        <a href="/documents/new">Add Document</a>
                    </li>
                    <li>
                        <a href="/locations/new">Add Location</a>
                    </li>
                    <li>
                        <a href="/documents">All Documents</a>
                    </li>
                    <% end %> 
           
                </ul>
            </div>


        </div>
    </nav>

    <div class="container">

        <%= yield %>

    </div>

</body>

</html>

